*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg{
    background-color: #fff;
}
.colours{
    display: flex;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(221, 122, 155);
    margin-bottom: 20px;
}
.col{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    margin: 15px 25px;
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;
}
.white{
    background-color: white;
}
.yellow{
    background-color: yellow;
}
.black{
    background-color: black;
}
.green{
    background-color: green;
}
.grey{
    background-color: grey;
}
.orange{
    background-color: orange;
}
.purple{
    background-color: purple;
}
.pink{
    background-color: rgb(224, 160, 171);
}
.brown{
    background-color: brown;
}
.khaki{
    background-color: khaki;
}
.salmon{
    background-color: salmon;
}
.gold{
    background-color: gold;
}
.dark-orchid{
    background-color: darkorchid;
}
.silver{
    background-color: silver;
}